<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="email" value="gocool@gmail.com"/>
  <parameter name="password" value="12345"/>
  <classes>
  <class name="com.test.TestMain"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
